<plugin name='jasypt' version='0.1' grailsVersion='1.2.1 &gt; *'>
  <author>Ted Naleid</author>
  <authorEmail>contact@naleid.com</authorEmail>
  <title>Grails Jasypt Plugin - easy encryption</title>
  <description>\
Grails integration with Jasypt, allows easy encryption of information, including Hibernate/GORM integration.
</description>
  <documentation>http://grails.org/plugin/jasypt</documentation>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>