<plugin name='jasypt-encryption' version='1.0.0' grailsVersion='2.0.0 &gt; *'>
  <author>Ted Naleid</author>
  <authorEmail>contact@naleid.com</authorEmail>
  <title>Plugin summary/headline</title>
  <description>\
Grails integration with Jasypt, allows easy encryption of information, including Hibernate/GORM integration.
</description>
  <documentation>http://grails.org/plugin/jasypt-encryption</documentation>
  <type>JasyptEncryptionGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='org.bouncycastle' name='bcprov-jdk16' version='1.46' />
      <dependency group='org.jasypt' name='jasypt-hibernate3' version='1.9.0' />
      <dependency group='org.jasypt' name='jasypt' version='1.9.0' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>